body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.game-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.game-field {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
    background-image: url(images/moipark.jpg);
    background-size: cover;
}

.neighbor {
    width: 50px;
    height: 50px;
    background-image: url(images/musor.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    border-image: auto;
    background-size: cover;
    
    
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.game-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #45a04943 ;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.game-button:hover {
    background: #45a049;
}

        /* .upgrades-container {
            display: flex;
            gap: 10px;
            margin: 10px 0;
            justify-content: center;
        } */

        /* .upgrade-item {
            background: #fff;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            cursor: pointer;
            transition: all 0.3s;
        }

        .upgrade-item:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }

        .upgrade-item.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        .money {
            color: #F7931A;
            font-weight: bold;
        } */